.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  width: 400px;
  height: 400px;
}

.btn-plus, .btn-equal{
   grid-row: span 2;
}

.input{
    width:400px;
    height:100px;
}

.input input {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: right;
  background: #2B293D;
  color: white;
}
